<h3> OAuth2 consumer example </h3>
<br>
<%if (user) { %>
  <p> Hi <%= user.name %>!</p>
  <a href="/logout" >Logout</a>
<% } %>


<%if (!user) { %>
<p>This simple web application demos how to integrate with the oauth2 provider</p>
<br>
<a href="/login" target="">Login</a></body>
<% } %>
<br>
<br>
<p> isLogged: <%= isLogged %> </p>
