<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>oauth2orize Provider</title>
    <style>
        *{margin: 0; padding: 0;}
        html, body {
            height: 100%;
        }
    </style>
</head>
<body>
    <header>
        header
    </header>
    <div style="margin: auto; width: 50%; border: 3px solid blue; padding: 10px">
      <%- body %>
    </div>
    <footer>
        footer
    </footer>
</body>
</html>